* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  background: url("./bg.jpeg") no-repeat center center/cover;
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
